<header class="fixed w-screen bg-slate-100 p-4 flex items-center justify-between">
  <img data-testid="github icon" src="../../assets/icon-github.svg" alt="github icon">
  <div class="flex gap-3">
    <app-search-bar />
    <app-search-button  ><img data-testid="lupe icon" height="16" width="16" src="../../assets/icon-search.svg" alt="lupe icon"></app-search-button>
  </div>
  <a data-testid="link" href="https://github.com/otaviusedano" target="_blank" class="mr-4 hidden sm:block">
    <img data-testid="photo" class="rounded-full border-[2px] border-slate-500 hover:border-[4px]" height="32" width="32" src="../../assets/me.jpg" alt="my photo">
  </a>
</header>